{% extends 'base.html' %}

{% block title %}SODOM - Сообщество любителей метала{% endblock %}

{% block content %}
<div class="main-content">
    <div class="left-column">
        <h1 class="page-title">Welcome!</h1>
        
        <div class="content-section">
            <h2>О сайте</h2>
            <p>.......</p>
            <div class="content-image">Афиша концерта</div>
            <a href="#" class="btn">Купить билет</a>
        </div>
        
        <div class="content-section">
            <h2>Жанры металла</h2>
            <p>Металл - это разнообразие звучаний и стилей:</p>
            <ul>
                <li>• Хэви-метал (Iron Maiden, Judas Priest)</li>
                <li>• Трэш-метал (Metallica, Slayer, Megadeth)</li>
                <li>• Дэт-метал (Death, Cannibal Corpse)</li>
                <li>• Блэк-метал (Mayhem, Burzum)</li>
                <li>• Дуум-метал (Candlemass, My Dying Bride)</li>
                <li>• Прогрессив-метал (Dream Theater, Opeth)</li>
            </ul>
        </div>
        
        <div class="content-section">
            <h2>Новые релизы</h2>
            <div class="album-grid">
                <div class="album-item">
                    <div class="album-cover">Gojira<br>Fortitude</div>
                    <div class="album-info">
                        <h3>Gojira - Fortitude</h3>
                        <p>Выпущен: 2021</p>
                        <p>Жанр: Прогрессив-дэт-метал</p>
                    </div>
                </div>
                <div class="album-item">
                    <div class="album-cover">Mastodon<br>Hushed and Grim</div>
                    <div class="album-info">
                        <h3>Mastodon - Hushed and Grim</h3>
                        <p>Выпущен: 2021</p>
                        <p>Жанр: Прогрессив-метал</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="sidebar-widget">
            <h3 class="widget-title">Жанры</h3>
            <ul class="categories-list">
                <li><a href="#">Хэви-метал</a></li>
                <li><a href="#">Трэш-метал</a></li>
                <li><a href="#">Дэт-метал</a></li>
                <li><a href="#">Блэк-метал</a></li>
                <li><a href="#">Дуум-метал</a></li>
            </ul>
        </div>
        
        <div class="sidebar-widget">
            <h3 class="widget-title">Популярные группы</h3>
            <div class="tags-container">
                <a href="#" class="tag">Death</a>
                <a href="#" class="tag">Iron Maiden</a>
                <a href="#" class="tag">Creator</a>
                <a href="#" class="tag">Slayer</a>
                <a href="#" class="tag">Megadeth</a>
            </div>
        </div>
        
        <div class="sidebar-widget">
            <h3 class="widget-title">Ближайшие концерты</h3>
            <ul class="popular-posts">
                <li>
                    <div class="post-thumb"></div>
                    <div class="post-info">
                        <h4><a href="#">Slipknot</a></h4>
                        <div class="post-date">15 мая 2025</div>
                    </div>
                </li>
                <li>
                    <div class="post-thumb"></div>
                    <div class="post-info">
                        <h4><a href="#">Metallica</a></h4>
                        <div class="post-date">3 апреля 2025</div>
                    </div>
                </li>
                <li>
                    <div class="post-thumb"></div>
                    <div class="post-info">
                        <h4><a href="#">Ghost</a></h4>
                        <div class="post-date">21 марта 2025</div>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="sidebar-widget">
            <h3 class="widget-title">Цитата дня</h3>
            <div class="quote">
                <p>"Если это слишком громко - значит, ты слишком стар!"</p>
                <cite>- Металлика</cite>
            </div>
        </div>
    </div>
</div>
{% endblock %}